*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.container
{
    position: relative;
}

.amrita-logo
{
    width: 210px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;

    margin-top: 50px;
    margin-left: 50px;
    
    cursor: pointer;
}

.background-img
{
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login
{
    margin-top: 50px;
    margin-right: 50px;
    background-color: #0B51E6;
    border-radius: 18px;
    height: 50px;
    width: 170px;
    float: right;
    text-align: center;
}

.login-btn
{
    color: white;
    margin-top: 13px;
}

.nav
{
    margin-top: 50px;
    margin-left: 27%;
    position: absolute;
}

.nav-btn
{
    border: 2px solid white;
    border-radius: 18px;
    margin-left: 20px;
    height: 37px;
    width: 200px;
    padding-top: 13px;
    text-align: center;
    color: white;
    float: left;
}

.heading
{
    position: absolute;
    margin-top: 14%;
    margin-left: 150px;
}

.l1
{
    color: white;
    font-size: 70px;
}